doctype html
head
  title Homepage
  link(rel='stylesheet', href='css/style.css')

br
.topBar
  img(src='img/ilovem.jpg' alt='ilovem icion' width='150' height='80')
  hr
  a.curSelect(href='/') Home
  if session.loggedin
    a(href='/profile') Profile
  .searchBar
    if session.loggedin
      form(method="post" action="/movies")
        label(for='movName')
        input#movName(type='text' placeholder='Search Movie' name = 'movName')
        button#search(type='submit') Search Movies
    else
      form(method="post" action="/movies")
        label(for='movName')
        input#movName(type='text' placeholder='Search Movie' name = 'movName')
        button#search.btn(type='submit') Search
        button#sign(onclick = "window.location.href= 'http://localhost:3000/signin'" type='button') Sign in
#movieInfo.mid-content
  h2 What to Watch
  h3 Recommended Movies
  .img
    a(href= 'http://localhost:3000/movies/' + name)
      img(src=  "https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX300.jpg" alt=" # {movie[0].Title}" width='280' height = '450')
  .img
    a(href='http://localhost:3000/movies/Jumanji')
      img(src='https://m.media-amazon.com/images/M/MV5BZTk2ZmUwYmEtNTcwZS00YmMyLWFkYjMtNTRmZDA3YWExMjc2XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' alt='Movie Poster' width='300' height = '450')
  .img
    a(href='http://localhost:3000/movies/Grumpier Old Men')
      img(src='https://m.media-amazon.com/images/M/MV5BMjQxM2YyNjMtZjUxYy00OGYyLTg0MmQtNGE2YzNjYmUyZTY1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' alt='Movie Poster' width='300' height = '450')
  .img
    a(href='http://localhost:3000/movies/Waiting to Exhale')
      img(src='https://m.media-amazon.com/images/M/MV5BYzcyMDY2YWQtYWJhYy00OGQ2LTk4NzktYWJkNDYwZWJmY2RjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_SX300.jpg' alt='Movie Poster' width='300'  height = '450')
.mid-content
  .description
    p #{movie[0].Title}
    p #{movie[0].imdbRating}/10
  .description
    p #{movie[1].Title}
    p #{movie[1].imdbRating}/10
  .description
    p #{movie[2].Title}
    p #{movie[2].imdbRating}/10
  .description
    p #{movie[3].Title}
    p #{movie[3].imdbRating}/10
#score
